#### 1. Write a python program to sum all the items in a list

In [3]:
lst=[2,3,4,7,8,9,10]
print(sum(lst))

43

#### 2. Imagine there is a list lst=[4,6,8,9,12,9]
#### print the value of list start from index 2 until 4 inclusive

In [4]:
lst=[4,6,8,9,23,9]
print(lst[2:5])

[8, 9, 23]

#### 3. Imagine there is a list lst=[4,6,8,9,12,9]
#### Reverse the given list

In [5]:
lst=[4,5,8,9,12,9]
lst=lst[::-1]
print(lst)

[9, 12, 9, 8, 5, 4]

#### 4. Given a Python list lst=[4,6,8,9,12,9]. Turn every item of a list into its square

In [14]:
lst=[4,6,8,9,12,9]
square=[x*x for x in lst]
print(square)

[16, 36, 64, 81, 144, 81]

#### 5. Remove Empty String from the list of strings

In [15]:
list1 = ["Mike", "", "Emma", "Kelly", "", "Brad"]
resList = list(filter(None, list1))
print(resList)

['Mike', 'Emma', 'Kelly', 'Brad']

#### 6. Unpack the following tuple tpl=(10,5,21,8) into 4 variables a,b,c,d

In [8]:
tpl=(10,5,21,8)
a,b,c,d=tpl
print(a)
print(b)
print(c)
print(d)

10
5
21
8

#### 7. Swap the following tupple tuple1 = (11, 22), tuple2 = (99, 88)

In [9]:
tuple1=(11,22)
tuple2=(99,88)
tuple1,tuple2=tuple2,tuple1
print(tuple1)
print(tuple2)

(99, 88)
(11, 22)

#### 8. Sort a tuple of tuples by 2nd item tuple1 = (('a', 23),('b', 37),('c', 11), ('d',29))

In [17]:
tuple1 = (('a', 23),('b', 37),('c', 11), ('d',29))
tuple1 = tuple(sorted(list(tuple1), key=lambda x: x[1]))
print(tuple1)

(('c', 11), ('a', 23), ('d', 29), ('b', 37))

#### 9. Access value 20 from the following tuple 
#### tpl=("Data",[10,20,30],(5,15,25))

In [19]:
tpl = ("Data", [10, 20, 30], (5, 15, 25))
print(tpl[1][1])

20

#### 10. convert this list into dictionary (hint : use zip)     lst1=['one', 'Two', 'Three'], lst2=[10, 20, 30]

In [11]:
lst1=['one','two','three']
lst2=[10,20,30]
newDict=dict(zip(lst1,lst2))
print(newDict)

{'one': 10, 'two': 20, 'three': 30}

#### 11. Merge following two Python dictionaries into one dict1 = {'Ten': 10, 'Twenty': 20, 'Thirty': 30} dict2 = {'Thirty': 30, 'Fourty': 40, 'Fifty': 50}

In [12]:
dict1 = {'Ten': 10, 'Twenty': 20, 'Thirty': 30}
dict2 = {'Thirty': 30, 'Fourty': 40, 'Fifty': 50}

dict3 = {**dict1, **dict2}
print(dict3)

{'Ten': 10, 'Twenty': 20, 'Thirty': 30, 'Fourty': 40, 'Fifty': 50}

#### 12. Create a new dictionary by extracting the following keys from a below dictionary sampleDict = {"name": "Kelly","age":25,"salary": 8000,"city": "New york"} keys to extract =keys = ["name", "salary"]

In [13]:
sampleDict = { 
  "name": "Kelly",
  "age":25, 
  "salary": 8000, 
  "city": "New york" }

keys = ["name", "salary"]

newDict = {k: sampleDict[k] for k in keys}
print(newDict)

{'name': 'Kelly', 'salary': 8000}

#### 13. Return a new set of identical items from a given two set set1 = {10, 20, 30, 40, 50} set2 = {30, 40, 50, 60, 70}

In [20]:
set1 = {10, 20, 30, 40, 50}
set2 = {30, 40, 50, 60, 70}

print(set1.intersection(set2))

{40, 50, 30}

#### 14. Returns a new set with all items from both sets by removing duplicates set1 = {10, 20, 30, 40, 50}  set2 = {30, 40, 50, 60, 70}

In [21]:
set1 = {10, 20, 30, 40, 50}
set2 = {30, 40, 50, 60, 70}

print(set1.union(set2))

{70, 40, 10, 50, 20, 60, 30}

#### 15. Return a set of all elements in either A or B, but not both set1 = {10, 20, 30, 40, 50} set2 = {30, 40, 50, 60, 70}

In [22]:
set1 = {10, 20, 30, 40, 50}
set2 = {30, 40, 50, 60, 70}

print(set1.symmetric_difference(set2))

{20, 70, 10, 60}