#### 1. Write a Pandas program to convert a NumPy array to a Pandas series. Go to the editor
Sample Series: <br>
NumPy array:<br>
[10 20 30 40 50]<br>
Converted Pandas series:<br>
0 10 <br>
1 20 <br>
2 30 <br>
3 40<br>
4 50<br>
dtype: int64<br>

In [1]:
import numpy as np
import pandas as pd
np_array = np.array([10, 20, 30, 40, 50])
print("NumPy array:")
print(np_array)
new_series = pd.Series(np_array)
print("Converted Pandas series:")
print(new_series)

NumPy array:
[10 20 30 40 50]
Converted Pandas series:
0    10
1    20
2    30
3    40
4    50
dtype: int32

#### 2. Write a Pandas program to compare the elements of the two Pandas Series.  <br>
Sample Series: [2, 4, 6, 8, 10], [1, 3, 5, 7, 10]

In [2]:
ds1 = pd.Series([2, 4, 6, 8, 10])
ds2 = pd.Series([1, 3, 5, 7, 10])
print("Series1:")
print(ds1)
print("Series2:")
print(ds2)
print("Compare the elements of the said Series:")
print("Equals:")
print(ds1 == ds2)
print("Greater than:")
print(ds1 > ds2)
print("Less than:")
print(ds1 < ds2)

Series1:
0     2
1     4
2     6
3     8
4    10
dtype: int64
Series2:
0     1
1     3
2     5
3     7
4    10
dtype: int64
Compare the elements of the said Series:
Equals:
0    False
1    False
2    False
3    False
4     True
dtype: bool
Greater than:
0     True
1     True
2     True
3     True
4    False
dtype: bool
Less than:
0    False
1    False
2    False
3    False
4    False
dtype: bool

#### 3. Write a Pandas program to add, subtract, multiple and divide two Pandas Series. <br>
Sample Series: [2, 4, 6, 8, 10], [1, 3, 5, 7, 9]

In [3]:
ds1 = pd.Series([2, 4, 6, 8, 10])
ds2 = pd.Series([1, 3, 5, 7, 9])
ds = ds1 + ds2
print("Add two Series:")
print(ds)
print("Subtract two Series:")
ds = ds1 - ds2
print(ds)
print("Multiply two Series:")
ds = ds1 * ds2
print(ds)
print("Divide Series1 by Series2:")
ds = ds1 / ds2
print(ds)

Add two Series:
0     3
1     7
2    11
3    15
4    19
dtype: int64
Subtract two Series:
0    1
1    1
2    1
3    1
4    1
dtype: int64
Multiply two Series:
0     2
1    12
2    30
3    56
4    90
dtype: int64
Divide Series1 by Series2:
0    2.000000
1    1.333333
2    1.200000
3    1.142857
4    1.111111
dtype: float64

#### 4. Write a Pandas program to convert a dictionary to a Pandas series. 
Sample Series: <br>
Original dictionary: <br>
{'a': 100, 'b': 200, 'c': 300, 'd': 400, 'e': 800}<br>
Converted series:<br>
a 100<br>
b 200<br>
c 300<br>
d 400<br>
e 800<br>
dtype: int64<br>

In [4]:
d1 = {'a': 100, 'b': 200, 'c':300, 'd':400, 'e':800}
print("Original dictionary:")
print(d1)
new_series = pd.Series(d1)
print("Converted series:")
print(new_series)

Original dictionary:
{'a': 100, 'b': 200, 'c': 300, 'd': 400, 'e': 800}
Converted series:
a    100
b    200
c    300
d    400
e    800
dtype: int64

#### 5. Write a Pandas Program to get the items of series A not present in series B? 
Series A [1,2,3,4,5] <br>
Series B [4,5,6,7,8] <br>
Expected Output <br>
1<br>2<br>3<br>

In [5]:
ser1 = pd.Series([1, 2, 3, 4, 5])
ser2 = pd.Series([4, 5, 6, 7, 8])
ser1[~ser1.isin(ser2)]

0    1
1    2
2    3
dtype: int64

#### 6. Write a Pandas Program to get the items not common to both series A and series B? 
Series A [1,2,3,4,5] <br>
Series B [4,5,6,7,8] <br>
Expected Output <br>
1<br>2<br>3<br>6<br>7<br>8

In [6]:
ser1 = pd.Series([1, 2, 3, 4, 5])
ser2 = pd.Series([4, 5, 6, 7, 8])
a_not_b = ser1[~ser1.isin(ser2)]
b_not_a = ser2[~ser2.isin(ser1)]
                          
a_not_b.append(b_not_a, ignore_index = True)

0    1
1    2
2    3
3    6
4    7
5    8
dtype: int64

#### 7. Write a program using Pandas to filter words that contain at least 2 vowels from a series? 
Series ['Apple', 'Orange', 'Plan', 'Python', 'Money'] <br>
Expected Output 'Apple' <br> 'Orange' <br>'Money'<br>

In [8]:
vowels = list("aeiou")
list_ = []
ser = pd.Series(['Apple', 'Orange', 'Plan', 'Python', 'Money'])

for w in ser:
    c = 0
    for l in list(w.lower()):
        if l in vowels:
            c += 1
    if c >= 2:
        list_.append(w)

ser[ser.isin(list_)]

0     Apple
1    Orange
4     Money
dtype: object

#### 8. Writen a Pandas program to get the minimum, 25th percentile, median, 75th, and max of a random numeric series?

In [9]:
state = np.random.RandomState(100)
ser = pd.Series(state.normal(10, 5, 25))
ser.describe()

count    25.000000
mean     10.435437
std       4.253118
min       1.251173
25%       7.709865
50%      10.922593
75%      13.363604
max      18.094908
dtype: float64

#### 9. Create a Pandas DataFrame from a dictionary
dictionary = {'name': ['Vinay', 'Kushal', 'Aman'], <br>
              'age' : [22, 25, 24], <br>
              'occ' : ['engineer', 'doctor', 'accountant']} <br>

In [13]:
dictionary = {'name': ['Vinay', 'Kushal', 'Aman'],
              'age' : [22, 25, 24],
              'occ' : ['engineer', 'doctor', 'accountant']}

dataframe = pd.DataFrame(dictionary)

print(dataframe)

     name  age         occ
0   Vinay   22    engineer
1  Kushal   25      doctor
2    Aman   24  accountant

#### 10. Sort the dataframe above based on Age <br>
Expected Output <br>
name  age         occ <br>
0   Vinay   22    engineer <br>
2    Aman   24  accountant <br>
1  Kushal   25      doctor

In [12]:
dataframe_sorted = dataframe.sort_values(by = ['age']) # dataframe after sorting by 'id' and 'age'

print(dataframe_sorted)

     name  age         occ
0   Vinay   22    engineer
2    Aman   24  accountant
1  Kushal   25      doctor